p {
    color: rgb(0, 4, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #fff ;
}

body {
    background-image: url("https://i.pinimg.com/564x/55/0d/32/550d320fb75b3168acf60ee5927172ed.jpg");
    align-content: center;
    background-repeat: no-repeat ;
    background-size: cover;
    
}
h1 {
    text-align: center;
}