p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
    background-image: url("https://thumbs.dreamstime.com/z/gato-com-calculadora-e-cart%C3%A3o-de-cr%C3%A9dito-o-bege-em-%C3%B3culos-est%C3%A1-segurando-um-uma-cont%C3%A1bil-fundo-branco-isolado-170909444.jpg");
    align-content: center;
    
}
h1 {
    text-align: center;
}